$SAPPHIRE: #0D2481;
$HOVER-SAPPHIRE: #1b3398;
$NOT-SELECTED: #CFCFC4;
$ON: #77DD77;
$OFF: #FF6961;

body {
  margin: 0;
  padding: 10px;
  width: 580px;
  height: 580px;
  font-family: "Atlas Grotesk", "AtlasGrotesk", sans-serif;
}

.tab-content {
  display: flex;
  flex-direction: column;
  height: 100%;

  &.main {
    .overrides {
      flex-grow: 1;
      overflow-y: auto;
    }
  }
}

.override {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 5px 0;
  margin-bottom: 4px;

  border-right-width: 5px;
  border-right-style: solid;

  &.not-selected {
    border-right-color: $NOT-SELECTED;
  }

  &.on {
    border-right-color: $ON;
  }

  &.off {
    border-right-color: $OFF;
  }

  .feature-name {
    flex-grow: 1;
  }

  .variant-input {
    display: inline-block;
    width: 100px;
    input {
      width: 100%;
    }
  }

  >* {
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }

  }
}

.apply-button {
  margin: 10px 0;
  background-color: $SAPPHIRE;
  color: white;
  padding: 9px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  &:hover {
    background-color: $HOVER-SAPPHIRE;
    cursor: pointer;
  }
}

.feature-filter {
  width: 100%;
  border: none;
  border-bottom: 1px solid black;
  padding-bottom: 2px;
  outline: none;
  margin: 10px 0;

  &:focus {
    border-bottom-color: $SAPPHIRE;
  }
}
.tab-row {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;

  h2.tab {
    display: inline-block;
    margin: 0 10px 0 0;
    font-size: 16px;
    color: lighten(black, 30%);
    text-transform: uppercase;
    font-weight: normal;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
      color: black;
      font-weight: bold;
    }

    &:last-child {
      margin-right: none;
    }

  }
}
.header-title {
  margin-top: 0;
  text-align: center;
  border-bottom: 1px solid black;
  color: black;
}