$SAPPHIRE: #0D2481;
$HOVER-SAPPHIRE: #1b3398;

body {
  margin: 0;
  width: 445px;
  height: 580px;
  font-family: "Atlas Grotesk", "AtlasGrotesk", sans-serif;
}

.tooltip-text {
  visibility: hidden;
  opacity: 0;
}
.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.icon-button:active {
  background-color: #E5E7EB;

}

